h1{
    text-align: center;
}

.code-editor {
    border: 1px solid #ccc;
    padding: 10px;
    font-family: monospace;
    height: 400px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
 
.code-editor textarea {
    width: 100%;
    height: 100%;
    resize: none;
    background-color:whitesmoke;
    
  } 

  .code-editor-buttons {
    margin-top: 20px; 
    margin-left: 70%;
  
    
  }

  .code-editor-buttons button {
    margin-right: 5px;
    background-color: rgba(64, 128, 0, 0.799);
  }
